<div class="card" style="width: 18rem">
  <img class="card-img-top" src={{profile.blurred_profile_picture_url.url}} alt="Card image cap" />
  <div class="card-body">
    <h5 class="card-title">{{profile.parent.first_name}}</h5>
    <p class="card-text">
      {{profile.bio}}
    </p>
    <table>
      <tbody>
        <tr>
          <td><a href="#" class="btn btn-primary">Reject</a></td>
          <td><a href="#" class="btn btn-primary">Send Like</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div> 